<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reverse1999 damage calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" style="margin-bottom:20px">
  <div class="container">
    <a class="navbar-brand" href="#">Reverse1999 damage calculator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">DEF</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Damage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <span class="navbar-text">
        v.0.1
      </span>
    </div>
  </div>
</nav>

<div class="container">
    <h1>방어력 계산기</h1>
    <br>

    주의사항
    <br>
    <li>치명타가 터지지 않은 데미지를 넣어야 합니다.</li>
    <li>이글의 디버프 외 다른 디버프를 걸어서는 안됩니다.</li>

    <br>
    <br>
<form method="post">

    <table class="table">
  <thead>
    <tr>
      <th scope="col" colspan="2">이글</th>
      <th scope="col" colspan="2">적</th>
      <th scope="col" colspan="2">데미지</th>
      <th scope="col" colspan="2">결과</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">공격*</th>
      <td><input type="number" class="form-control" name="atk" value="{{ data.atk }}">
      <td>피해감면 버프</td>
      <td><input type="number" class="form-control" name="buff" value="{{ data.buff }}"></td>
      <td>일반기술 데미지*</td>
      <td><input type="number" class="form-control" name="norm_dmg" value="{{ data.norm_dmg }}">
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">피해 보너스</th>
      <td><input type="number" class="form-control" name="bonus" value="{{ data.bonus }}">
      <td>
        <label class="form-check-label" for="weakness">약화</label>
    </td>
      <td>
          <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="weakness" name="weakness" {% if data.weakness %} checked {% endif %}>
</div>
      </td>
      <td>관통공격 데미지*</td>
      <td><input type="number" class="form-control" name="pen_dmg" value="{{ data.pen_dmg }}">
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">의지' 마법위력</th>
      <td><input type="number" class="form-control" name="spell" value="{{ data.spell }}">
      <td>
        <label class="form-check-label" for="afflatus">영감 (x 1.3)</label>
    </td>
      <td>
          <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="afflatus" name="afflatus" {% if data.afflatus %} checked {% endif %}>
</div>
      </td>
        <td></td>
        <td></td>
        <td>방어력</td>
        <td>{{ def }}</td>
    </tr>
  <tr>
      <th>형상</th>
      <td>
          <select class="form-select" multiple aria-label="Multiple select example" name="portray">
          <option {% if data.portray == 0 %} selected {% endif %} value="0">0~1</option>
          <option {% if data.portray == 1 %} selected {% endif %} value="1">2</option>
          <option {% if data.portray == 2 %} selected {% endif %} value="2">3~5</option>
        </select>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>피해감면</td>
      <td>{{ dmg_taken }}</td>
  </tr>
  </tbody>
</table>
<button type="submit" class="btn btn-primary">Calculate</button>
</form>

</div>
  </body>
</html>
