{% extends "main.html" %}

{% block body %}

<div class="container text-white">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>About</h1>
    <br>
    <b>
        '고메아' 라는 닉네임으로 게임을 즐기는 유저입니다.
        <br>
        <br>
        혼자 계산기를 만들어서 알음알음 써보다가, 데미지 계산을 해보지 않아본 분들도
        <br>
        가상몽유, UTTC 를 깰 때 쉽게 이용할 수 있도록 만들게 되었습니다.
        <br>
        <br>
        아무래도 혼자 개발하다 보니 버그나 편의성 부분에서 많이 부족할 수 있습니다. 많은 피드백 부탁드려요!
        <br>
        <br>
        kor.pacman@gmail.com
        <br>
        <br>
    </b>
</div>

<div id="disqus_thread" class="container" style="padding-top:20px">
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

    var disqus_config = function () {
    this.page.url = "{{ request.url }}";  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "{{ tag }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://re99-dmg-calculator.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endblock %}
