{% extends "main.html" %}

{% block body %}

<div class="container">
    <div class="text-white">
    <h1>데미지 계산기</h1>
    <br>
    <br>

    <h4>주의사항</h4>
    <b>
    <li>방어력, 방어감소에는 현실방어와 정신방어를 구분해 넣습니다.</li>
    <li>오차가 10~20 정도 발생할 수 있습니다.</li>
        </b>
        </div>

<form method="post" class="was-validated">
    <br>
    <br>
    <br>

    <table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col" colspan="2">아군</th>
      <th scope="col" colspan="2">적군</th>
      <th scope="col" colspan="2">환경</th>
      <th scope="col" colspan="2">결과</th>
    </tr>
  </thead>
  <tbody>
<!--  1-->
<tr>
    {{ input('공격력*','atk',data.atk,1,True) }}
    {{ input('방어력*','defence',data.defence,8,True) }}
    {{ input('방어감소','def_redn',data.def_redn,11) }}
    <td colspan="2"></td>
</tr>
<!--  2-->
<tr>
    {{ input('위력*','power',data.power,2,True) }}
    {{ input('피해감면*','dmg_taken',data.dmg_taken,9,True) }}
    {{ input('피해보너스 버프','buff',data.buff,12) }}
    <td colspan="2"></td>
</tr>
<!--  3-->
<tr>
    {{ input('스탯 피해보너스','stat_bonus',data.stat_bonus,3,float=True) }}
    {{ switch('영감 (x 1.3)','afflatus',data.afflatus,10) }}
    {{ input('피해감면 디버프','debuff',data.debuff,13) }}
    <td colspan="2"></td>
</tr>
<!--  4-->
<tr>
    {{ input('통찰 공격력','inherit_atk',data.inherit_atk,4) }}
    <td colspan="8"></td>
</tr>
<!--  5-->
<tr>
    {{ input('통찰 피해보너스','inherit_bonus',data.inherit_bonus,5,float=True) }}
    <td colspan="8"></td>
</tr>
<!--  6-->
<tr>
    {{ input('의지 마법위력 or 최종술식위력','spell',data.spell,6) }}
    <td colspan="6"></td>
</tr>
<!--  6-->
    {{ input('의지 피해보너스','psy_bonus',data.psy_bonus,7,float=True) }}
<td colspan="4"></td>
    {{ value('데미지',dmg) }}
<tr>
</tr>
  </tbody>
</table>
<button type="submit" class="btn btn-primary" tabindex="13">Calculate</button>
</form>

{% endblock %}

<!-- 입력 -->
{% macro input(desc,name,v,tab,require=None,float=None) %}
      <th scope="row"><label for="{{name}}" class="form-label">{{desc}}</label></th>
    <td><input type="number" class="form-control" name="{{name}}"  id="{{name}}" {% if require %}required{% endif %} value="{{v}}" tabindex="{{tab}}" {% if float %}step="0.5"{% endif %}></td>
{% endmacro %}

<!-- 값 -->
{% macro value(desc,v=0) %}
    <th>{{desc}}</th>
    <td>{{v}}</td>
{% endmacro %}

<!-- 스위치 -->
{% macro switch(title,name,b,tab) %}
      <th>
        <label class="form-check-label" for="{{name}}">{{title}}</label>
    </th>
      <td>
          <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="{{name}}" name="{{name}}" {% if b %} checked {% endif %} tabindex="{{tab}}">
        </div>
      </td>
{% endmacro %}
