<!doctype html>
<html lang="en">
  <head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JBL9S3DLE9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JBL9S3DLE9');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reverse1999 damage calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
      <link rel="icon" href="/static/android-chrome-512x512-removebg-preview.png">

    <style>
      .container-fluid{
      background-image: url("static/bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      }
      </style>
  </head>
  <body  class="container-fluid" style="opacity: 0.9;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" style="margin-bottom:20px">
  <div class="container">
    <a class="navbar-brand" href="/" tabindex="-1">Reverse1999 damage calculator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if tag == 'def' %} active {% endif %}" {% if tag == 'def' %} aria-current="page" {% endif %} href="/" tabindex="-1">Defence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if tag == 'dmg' %} active {% endif %}" {% if tag == 'dmg' %} aria-current="page" {% endif %} href="/dmg-calculator" tabindex="-1">Damage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if tag == 'about' %} active {% endif %}" {% if tag == 'about' %} aria-current="page" {% endif %} href="/about" tabindex="-1">About</a>
        </li>
      </ul>
      <span class="navbar-text">
      </span>
    </div>
  </div>
</nav>

  {% block body %} {% endblock %}

  </body>
</html>
