<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Packt Todo Apllication</title>
</head>
<body>
    <header>
        <nav class="navar">
            <div class="container-fluid">
                <center>
                    <h1>Packt Todo Application</h1>
                </center>
            </div>
        </nav>
    </header>
    <div class="container-fluid">

    </div>
</body>
</html>
